<h2>Stupid Coaching<h2>

<div class="question">
  <p><%= @question %></p>
  <p>-You</p>
</div>


<div class="answer">
  <p><%= @answer %></p>
  <p>Your coach</p>
</div>


<div class="backlink">
<%= link_to "Ask a new question", ask_path %>
</div>
